.detailsImg {
    width: 18em;
    transition: transform .4s;
}

.detailsImg:hover {
    transform: scale(1.5);
    cursor: zoom-in;
    border-radius: 1em;
    transition-delay: 0.5s;
}

.photos {
    margin: 4em;
    gap: 1em;
    margin-left: 8em;
    width: 35em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.detailsText {
    display: flex;
    margin-top: 4em;
    flex-direction: column;
    width: 100%;
}

.detailsName {
    padding-top: 1em;
    padding-left: 3em;
    font-size: 3em;
}

.everythingDetails {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.path {
    padding-top: 1em;
    align-self: center;
    font-size: 0.8em;
    text-transform: capitalize;
}

.strong {
    color: red;
}

.brand {
    font-size: 4em;
    margin-left: 0.6em;
}

.priceBox {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: 2.5em;
}

.price {
    font-size: 2em;
    align-self: flex-end
}

.vat {
    color: #616161;
    font-size: 1em;
    align-self: flex-end;
    padding-left: 0.5em;
}

.sizeGuide {
    background-color: #73bf3887;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: 2.5em;
    max-width: 80%;
    align-items: center;
}

.sizeGuide button {
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
}

.sizeGuide p {
    font-size: 1.3em;
}

.size {
    border: 1px solid #000;
    padding: 1em;
    margin-left: 2.5em;
    margin-top: 3em;
    font-size: 1em;
    max-width: 80%;
    text-align: center;
}

.size:hover {
    background-color: hsla(0, 0%, 87%, 0.427);
}

.sizeGuide svg {
    align-items: flex-end;
    margin-right: 0.5em;
    margin-top: 0.2em;
}

.deliveryBox {
    display: flex;
    flex-direction: column;
    margin-left: 2.5em;
    margin-top: 3em;
    border: 1px solid #000;
    padding: 1em;
    max-width: 80%;
    gap: 0.5em;
}

.deliveryBox1 {
    display: flex;
    flex-direction: column;
    margin-left: 2.5em;
    margin-top: 1.5em;
    border: 1px solid #000;
    padding: 1em;
    max-width: 80%;
    gap: 0.5em;
}

.delPrice {
    justify-content: space-between;
    padding-right: 2em;
}

.deliveryBox1>p>svg {
    margin-right: 0.7em;
}


.sizeGuideImg {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 2px 2px black;
    width: 60em;
    height: 31em;
    object-fit: cover;
    overflow: hidden;
}

.brandAndLove {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: baseline;
}

.brandAndLove svg {
    fill: red;
}

#blur.active {
    filter: blur(10px);
    transition: 0.5s;

}

.imgAndBtn button {
    position: absolute;
    top: 50%;
    left: 81%;
    background-color: #ff0000;
    cursor: pointer;
    padding: 0.3em 0.7em;
}

