nav {
    background-color: #fff;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.2);
    z-index: 10;
    align-items: center;
}

div {
    display: flex;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

ul li {
    padding: 0.5em 1em 0.5em 1em;
    cursor: pointer;

}

.leftBtns li:last-child {
    background-color: rgb(75, 212, 132);
    margin: 1em;
    color: #fff;
    border-radius: 0.3em;
    margin-right: 10em;
}

.leftBtns li:last-child:hover {
    background-color: rgba(75, 212, 132, 0.8);
}

.leftBtns li:nth-child(1),
.leftBtns li:nth-child(2) {
    margin: 1em 0.4em;
    padding: 0.3em;
    align-self: center;
}

.search {
    border-radius: 2em;
    width: 35em;
    height: 3em;
    resize: none;
    padding: 0.8em;
}

.fa-search:before {
    font-size: 1.8em;
}

.btnCategory {
    /* margin-left: 10em; */
    margin-right: 0;
    padding-right: 0;
    height: 4.1em;

    padding-top: 1.4em;
}

.fa-angle-down {
    margin: 0;
    padding: 0;
    align-self: center;
}

.logo {
    width: auto;
    height: 3.8em;
    z-index: 11;
    padding-right: 10em;
}

.leftBtns {
    z-index: 10;
}

.everything {
    background: #fff;
    overflow: hidden;
    box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.2);
    z-index: 13;
}

.dropdown-menu {
    position: absolute;
    margin-top: 3.9em;
    width: 56em;
    height: 25em;
    display: none;
    z-index: 1000000;
}

.categoriesBtn:hover .dropdown-menu {
    display: flex;
    background-color: #fff;
}

.link {
    display: block;
    font-size: 1.3em;
    margin: 0;
    padding-left: 0;
    margin-bottom: 1em;
    text-decoration: underline;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 0.7em;
}

.a {
    display: block !important;
}

.categoriesBtn {
    display: flex;
    flex-direction: column;
}

.categoriesBtn:hover {
    background-color: #fff;
}


.genders {
    padding: 3em;
    padding-right: 0em;
    padding-left: 2.7em;
    padding-top: 0.5em;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.genders li {
    padding-left: 0;
    margin-left: 0;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    width: 12em;
}

.genders li:nth-child(3) {
    font-weight: 600;
}