.profileCardWrapper {
    display: flex;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    background-color: #f1f1f1;
    justify-content: space-between;
}

.ProfileLinkCss {
    width: 5em;
    height: 5em;
    overflow: hidden;
    padding: 0;
}

.ProfileLinkCss img {
    width: 5em;
    height: auto;

}

.profileItemDetails {

    align-items: center;
}

.editDelBtn button {
    margin: 1em;
    min-width: 5em;
    background-color: rgb(75, 212, 132);
    color: #fff;
    border-radius: 0.3em;
    cursor: pointer;
    min-height: 3.4em;
    align-self: center;
}

.editDelBtn button:nth-child(2) {
    margin-right: 2em;
}

.editDelBtn button:hover {
    background-color: rgba(75, 212, 132, 0.613);
}


.editDelBtn button {
    background-color: rgb(75, 212, 132);
    color: #fff;
    font-weight: 100;
}